version: 2.1

orbs:
  orb-tools: circleci/orb-tools@11.5

jobs:
  test:
    docker:
      - image: circleci/circleci-cli:latest

    steps:
      - checkout
      - orb-tools/validate

workflows:
  build:
    jobs:
      - test
